<script src="ckeditor/ckeditor.js"></script>
<script>CKEDITOR.replace('editor')</script>
<script>
    const sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav, {});

    //Side Menu
    $("#drop-blog").addClass("active");
    //Side Menu
    $('.item-all-blog').css("background-color", "#80cbc4");
</script>

<script>

    $('#btn-back').on('click', function () {
        window.history.back();
    });

    $('.gone').hide();

    var blog = {
        blogId: '<%-blog.ProductForm[0].blogId%>', blogTitle: "", blogDescription: "", blogContent: "", blogImage: "", blogSource: ""
    }

    //Title Change
    $('#blog-title').on('input', function (e) {
        var s = $('#blog-title').val();
        if (s !== "") {
            $('#btn-blog-title').show();
        } else {
            $('#btn-blog-title').hide();
        }
    });
    $('#btn-blog-title').on('click', function () {
        var title = $('#blog-title').val();
        $('#btn-blog-title').hide();
        blog.blogTitle = title;
        updateBlog(blog);
    });

    //Description Change
    $('#blog-description').on('input', function (e) {
        var s = $('#blog-description').val();
        if (s !== "") {
            $('#btn-blog-description').show();
        } else {
            $('#btn-blog-description').hide();
        }
    });
    $('#btn-blog-description').on('click', function () {
        var description = $('#blog-description').val();
        $('#btn-blog-description').hide();
        blog.blogDescription = description;
        updateBlog(blog);
    });

    //Source
    $('#blog-source').on('input', function (e) {
        var s = $('#blog-source').val();
        if (s !== "") {
            $('#btn-blog-source').show();
        } else {
            $('#btn-blog-source').hide();
        }
    });
    $('#btn-blog-source').on('click', function () {
        var source = $('#blog-source').val();
        $('#btn-blog-source').hide();
        blog.blogSource = source;
        updateBlog(blog);
    });

    //ProductDescription Change
    CKEDITOR.instances['editor'].on('change', function (e) {
        var s = CKEDITOR.instances['editor'].getData();
        if (s !== "") {
            $('#btn-blog-content').show();
        } else {
            $('#btn-blog-content').hide();
        }
    });
    $('#btn-blog-content').on('click', function () {
        var content = CKEDITOR.instances['editor'].getData();
        if (content.indexOf("<img") > -1) {
            content = content.replace(/<img/g, '<img class="responsive-img"');
        }

        if (content.indexOf("<iframe") > -1) {
            content = content.replace(/<iframe/g, '<div class="video-container"><iframe');
            content = content.replace(/scrolling="no"/g, 'allowfullscreen');
            content = content.replace(/iframe>/g, 'iframe></div>');
        }

        $('#btn-blog-content').hide();
        blog.blogContent = content;
        updateBlog(blog);
    });

    function updateBlog(blog) {
        $.ajax({
            method: "PUT",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "admin/blog/update-blog.html",
            data: blog,
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.update;
                });
                if (result == 1) {
                    alert("Cập nhật thành công.");
                } else {
                    alert("Cập nhật thất bại.");
                }

                //Clear data
                blog.blogTitle = "";
                blog.blogDescription = "";
                blog.bannerContent = "";
                blog.blogImage = "";
                blog.blogSource = "";

            }
        });
    }
</script>

<script>
    // Picture
    $('#input-image').on('change', function () {
        $('#btn-image-save').show();
    })
    $('#btn-image-save').on('click', function () {
        $('#btn-image-save').hide();
        var form_data = new FormData();
        form_data.append('file', $('#input-image').prop('files')[0]);
        updateImage(form_data);
    });
    //Delete Image
    $('#btn-delete').on('click', function () {
        $('.image').hide();
        $('.input-image').show();
        var filename = '<%-blog.ProductForm[0].blogImage%>';
        deleteImage(filename);
    });


    function deleteImage(filename) {
        $.ajax({
            method: "DELETE",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "admin/blog/delete-image-blog.html",
            data: {
                blogId: '<%-blog.ProductForm[0].blogId%>',
                imageName: filename,
            },
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.update;
                });
                if (result == 1) {
                    alert("Xoá file thành công.");
                } else {
                    alert("Xoá file thất bại.");
                }
            }
        });
    }

    function updateImage(image) {
        $.ajax({
            method: "POST",
            dataType: "json",
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "admin/blog/add-image-blog.html",
            data: image,
            success: function success(data) {

                if (data.length > 0) {
                    var filename = data[0].filename;
                    updateImageData(filename);
                } else {
                    alert("Cập nhật thất bại.");
                }
            }
        });
    }

    function updateImageData(filename) {
        $.ajax({
            method: "PUT",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "admin/blog/update-data-blog.html",
            data: {
                blogId: '<%-blog.ProductForm[0].blogId%>',
                imageName: filename,
            },
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.update;
                });
                if (result == 1) {
                    alert("Cập nhật thành công.");

                    $('.image').show();
                    $('#image').attr('src', 'upload/' + filename);
                    $('.input-image').hide();

                } else {
                    alert("Cập nhật thất bại.");
                }
            }
        });
    }

</script>