<!-- Section: Profile -->
<section id="category.html" class="section">
    <div class="row">

        <table class="highlight centered flow-text" id="table-comment">
            <thead>
                <tr>
                    <th style="font-size: 1.1rem">ID</th>
                    <th style="font-size: 1.1rem">ID sản phẩm</th>
                    <th style="font-size: 1.1rem">ID user</th>
                    <th style="font-size: 1.1rem">Câu hỏi</th>
                    <th style="font-size: 1.1rem"></th>
                    <th></th>
                </tr>
            </thead>

            <tbody></tbody>

        </table>

    </div>
</section>