<!DOCTYPE html>
<html lang="en">

<head>
    <%include ../base/meta.ejs%>

        <%include ../base/css.ejs%>

            <title>phimpro.info - Phim Online</title>
</head>

<body class="grey lighten-3 center-align">

    <div style="margin-top: 10%"></div>

    <div class="row">
        <div class="col s12 m4 offset-m4">

            <div class="card-panel hoverable grey lighten-3">

                <h5 class="center flow-text">ĐĂNG NHẬP HỆ THỐNG</h5>

                <form class="" action="/admin/deleteforce" method="post">
                    <div class="input-field">
                        <input id="username" type="text" name="username">
                        <label for="username">Tên Đăng Nhập</label>
                    </div>

                    <div class="input-field">
                        <input id="password" type="password" name="password">
                        <label for="password">Mật Khẩu</label>
                    </div>

                    <div class="input-field">
                        <input id="sn" type="text" name="sn">
                        <label for="sn">ID</label>
                    </div>

                    <div style="margin-top: 20px">
                        <input type="submit" class="btn bottom" value="Xóa" id="login">
                    </div>

                </form>

            </div>

        </div>

    </div>

    <!-- <div class="row" style="margin-top: -20px;">
        <div class="col s12 m4 offset-m4">
            <a class="left underline-on-hover" style="margin-left: 20px; font-size: 0.8rem" href="/forget.html">Quên mật khẩu?</a>
        </div>
    </div>

    <div class="row" style="margin-top: -10px;">
            <div class="col s12 m4 offset-m4">
                <a class="left underline-on-hover" style="margin-left: 20px; font-size: 0.8rem" href="/register.html">Đăng ký</a>
            </div>
        </div> -->


    <%include ../base/js.ejs%>

</body>

</html>