<script>
    const sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav, {});

    //Side Menu
    $('.item-voucher').css("background-color", "#80cbc4");
</script>

<script>
    findAllPromotion();
    function findAllPromotion() {
        $.ajax({
            method: "GET",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/findAllPromotionForAdmin",
            success: function success(data) {
                $.each(data, function (i, value) {
                    value.forEach(function (entry, index) {

                        var output = "";
                        output += '<tr style="font-size: 1.1rem">';

                        // ID
                        output += '<td>';
                        output += '<span class="voucher' + index + '" id="id' + index + '" >' + entry.promotionId + '</span>';
                        output += '</td>';
                        // NAME
                        output += '<td>';
                        output += '<div class="input-field center">';
                        output += '<input class="disable voucher' + index + '" id="name' + index + '" type="text" value="' + entry.promotionName + '">';
                        output += '</div>';
                        output += '</td>';

                        // VALUE
                        output += '<td>';
                        output += '<div class="input-field center">';
                        output += '<input class="disable voucher' + index + '" id="value' + index + '" type="text" value="' + entry.promotionDiscount + '">';
                        output += '</div>';
                        output += '</td>';

                        // START
                        output += '<td>';
                        output += '<div class="input-field center">';
                        var start = new Date(entry.start);
                        output += '<input class="datepicker disable voucher' + index + '" id="start' + index + '" type="text" value="' + start.getDate() + "-" + (start.getMonth() + 1) + "-" + start.getFullYear() + '">';
                        output += '</div>';
                        output += '</td>';

                        // END
                        output += '<td>';
                        output += '<div class="input-field center">';
                        var end = new Date(entry.end);
                        output += '<input class="datepicker disable voucher' + index + '" id="end' + index + '" type="text" value="' + end.getDate() + "-" + (end.getMonth() + 1) + "-" + end.getFullYear() + '">';
                        output += '</div>';
                        output += '</td>';

                        // ACTION
                        output += '<td>';
                        output += '<a class="blue-text underline-on-hover btn-edit btn-save' + index + '" data-href="' + index + '">Sửa</a>';
                        output += '<a>&nbsp;&nbsp;</a>';
                        output += '<a class="red-text underline-on-hover btn-delete" data-href="' + index + '">Xoá</a>';
                        output += '</td>';

                        output += '</tr>';

                        $('#table-voucher > tbody:last').append(output);

                    });
                });


                //Picker
                $('.datepicker').datepicker({
                    selectMonths: false,
                    selectYears: 15,
                    format: 'dd-mm-yyyy',
                });


                //Disable Input
                $('.disable').attr("disabled", true);

                //btn edit
                $('.btn-edit').on('click', function () {
                    var index = $(this).data("href");
                    //Check
                    if ($('.btn-save' + index).text() == 'Sửa') {
                        //Edit
                        $('.btn-save' + index).text('Lưu');
                        $('.voucher' + index).attr("disabled", false);
                    } else {
                        //Save
                        updatePromotion(index);
                    }

                });

                //btn delete
                $('.btn-delete').on('click', function () {
                    var index = $(this).data("href");
                    var id = $('#id' + index).text();
                    //Alert Confirm
                    if (confirm('Bạn có chắc chắn muốn xóa cái này không?')) {
                        deletePromotion(id);
                    } else {
                        //alert('cancel');
                    }
                });
            }
        });
    }

    //Btn Add New
    $('#btn-add-new').on('click', function () {
        if ($('#btn-add-new').text() == 'Lưu') {
            if ($('#voucher-new-name').val() == "")
                return alert('Vui lòng nhập tên khuyến mãi');
            if ($('#voucher-new-value').val() == "")
                return alert('Vui lòng nhập giá trị');
            if ($('#voucher-new-start').val() == "")
                return alert('Vui lòng nhập ngày bắt đầu');
            if ($('#voucher-new-end').val() == "")
                return alert('Vui lòng nhập ngày kết thúc');
            $('#btn-add-new').hide();
            //Save
            addPromotion();
        } else {
            //Add
            $('#btn-add-new').text('Lưu');
            $('.voucher-new').attr("disabled", false);
        }

    });

    function updatePromotion(index) {
        $.ajax({
            method: "PUT",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/updatePromotion",
            data: {
                promotionId: $('#id' + index).text(),
                promotionName: $('#name' + index).val(),
                promotionDiscount: $('#value' + index).val(),
                promotionStart: formatDateYYYYMMDD($('#start' + index).val()),
                promotionEnd: formatDateYYYYMMDD($('#end' + index).val())
            },
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.update;
                });
                if (result == 1) {
                    //Set Text
                    $('.btn-save' + index).text('Sửa');
                    $('.voucher' + index).attr("disabled", true);
                    alert("Cập nhật thành công.");
                } else {
                    alert("Cập nhật thất bại.");
                }

            }
        });
    }

    function addPromotion() {
        $.ajax({
            method: "POST",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/insertPromotion",
            data: {
                promotionName: $('#voucher-new-name').val(),
                promotionDiscount: $('#voucher-new-value').val(),
                promotionStart: formatDateYYYYMMDD($('#voucher-new-start').val()),
                promotionEnd: formatDateYYYYMMDD($('#voucher-new-end').val())
            },
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.insert;
                });
                if (result == 1) {
                    $('#btn-add-new').show();
                    $('#btn-add-new').text('Thêm mới');
                    $('.voucher-new').attr("disabled", true);
                    alert('Thêm mới thành công.');
                    //Reload Page
                    window.location.reload();
                } else {
                    alert('Thêm mới thất bại.');
                }
            }
        });
    }

    function deletePromotion(id) {
        $.ajax({
            method: "DELETE",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/deletePromotion",
            data: {
                promotionId: id
            },
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.delete;
                });
                if (result == 1) {
                    window.location.reload();
                    alert('Đã xoá thành công.');
                } else {
                    alert('Không thể xoá được.');
                }
            }
        });
    }

    function formatDateYYYYMMDD(date) {
        return date.split("-").reverse().join("-");
    }
</script>