<% var vipLink = vip%>
<!DOCTYPE html>
<html lang="en">

<head>
    <%include ../base/meta.ejs%>

    <%include ../base/css.ejs%>

    <title>Phim Online | Phim HD | Không Quảng Cáo | Chất Lượng Tuyệt Vời</title>

</head>

<body style="background-color: #bdc3c7">

    <header>
 
    </header>

    <main>
        <%include layout.ejs%>
    </main>

    <footer>

    </footer>

    <%include ../base/js.ejs%>

    <%include script.ejs%>

    <%include ../base/tracking.ejs%>

</body>

</html>