
    <div class="row" style="margin-top: 1.5rem">
        <div class="col s12 m4 l3">
          <a href="https://www.vultr.com/?ref=7212705"><img src="https://www.vultr.com/media/banner_3.png" width="300" height="250"></a>

          <a href="https://www.vultr.com/?ref=7212705"><img src="https://www.vultr.com/media/banner_3.png" width="300" height="250"></a>

          <a href="https://www.vultr.com/?ref=7212705"><img src="https://www.vultr.com/media/banner_3.png" width="300" height="250"></a>
        </div>
        <div class="col s12 m4 l6 center">
          <a href="https://www.vultr.com/?ref=7212705"><img src="https://www.vultr.com/media/banner_2.png" width="468" height="60"></a>

          <a href="https://www.vultr.com/?ref=7212705"><img src="https://www.vultr.com/media/banner_2.png" width="468" height="60"></a>

            <p id="link" class="flow-text" style="font-size: 40px;"></p>
            <div id="loading" class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            <p id="find">Đang tìm liên kết...</p>
            <div class="btn bottom" id="btn"></div>


            <p><a href="https://www.vultr.com/?ref=7212705"><img src="https://www.vultr.com/media/banner_2.png" width="468" height="60"></a></p>

        </div>
        <div class="col s12 m4 l3">
          <a href="https://www.vultr.com/?ref=7212705"><img src="https://www.vultr.com/media/banner_3.png" width="300" height="250"></a>

          <a href="https://www.vultr.com/?ref=7212705"><img src="https://www.vultr.com/media/banner_3.png" width="300" height="250"></a>

          <a href="https://www.vultr.com/?ref=7212705"><img src="https://www.vultr.com/media/banner_3.png" width="300" height="250"></a>
        </div>
    </div>
