<div id="modal-request-login" class="modal">
    <div class="modal-content">
        <div class="nav-wrapper center">
            <h3 class="flow-text">Bạn cần đăng nhập để thực hiện chức năng này</h3>
        </div>
    </div>
    <div class="modal-footer">
        <a href="/login.html" class="waves-effect waves-green btn right">Đăng nhập</a>
    </div>

</div>