<!-- Section: Profile -->
<section id="category.html" class="section">
    <div class="row">

        <table class="highlight centered flow-text" id="table-voucher">
            <thead>
                <tr>
                    <th style="font-size: 1.1rem">ID</th>
                    <th style="font-size: 1.1rem">Tên dịch vụ</th>
                    <th style="font-size: 1.1rem">Giá tiền</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                <tr style="font-size: 1.0rem">
                    <td></td>
                    <td>
                        <div class="input-field center">
                            <input class="disable voucher-new" id="voucher-new-name" type="text">
                        </div>
                    </td>

                    <td>
                        <div class="input-field center">
                            <input class="disable voucher-new" id="voucher-new-value" type="text">
                        </div>
                    </td>

                    <td>
                        <a class="blue-text underline-on-hover" id="btn-add-new">Thêm mới</a>
                    </td>
                </tr>

            </tbody>

        </table>

    </div>
</section>