.margin-left-10{
    margin-left: 10px;
}

.margin-right-10{
    margin-right: 10px;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-top-0{
    margin-top: 0px !important;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.label-discount-bottom-left{
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 1px;
  color: white;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
  background-color: orange;
  bottom: 0px !important;
  left: 0px !important;  
}

.label-discount-bottom-left-1{
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 1px;
  color: white;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
  background-color: red;
  bottom: 0px !important;
  margin-left: 5px;
}

.label-discount-bottom-left-2{
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 1px;
  color: white;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
  background-color: red;
  bottom: 0px !important;
  left: 0px !important;
}

.label-discount-bottom-right{
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 1px;
    color: white;
    transition: 0.6s ease;
    border-radius: 3px 0px 0px 3px;
    background-color: blue;
    bottom: 0px !important;
    right: 0px !important;  
  }


  .circles {
    height: 30px;
    width: 30px;
    font-size: 0.5rem;
    text-align: center;
    vertical-align: center;
    border-radius: 50%;
    background: blue;
  }

  .flex-container{
    overflow-x: auto; 
    white-space: nowrap;  
    display: -webkit-flex;
  }

  .flex-item{
    width: 200px;
    margin: auto;
  }


  .label-discount-top-left{
    cursor: pointer;
    position: absolute;
    width: 25%;
    transition: 0.6s ease;
    background-color: transparent;
    top: 0px !important;
    left: 0px !important;  
  }

  .top-left{
    position: relative;
    width: auto;
    top: 10px !important;
    left: 30px !important;  
  }

  .ellipsis{

    white-space: nowrap; 
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; 
    display: inline-block;

  }

  .line-through{
    text-decoration: line-through;
  }

  i.icon-small{
    margin-right:0px;
    font-size: 0.8rem;
    margin-bottom: 3px !important;
  }

  a.text-small{
      font-size: 0.8rem;
      position: absolute;
  }

  .underline-on-hover:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }