.rating{
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform:  translate(-50%, -50%) rotateY(180deg);
  display: flex;
}

.rating input{
  display: none;
}
.rating label{
  display: block;
  cursor: pointer;
  width: 30px;
  background: transparent;
}
.rating label:before{
  content: '★';
  font-family: fontAwesome;
  position: relative;
  display: block;
  font-size: 20px;
  color:#101010;
}
.rating label:after{
  content: '★';
  font-family: fontAwesome;
  position: absolute;
  display: block;
  font-size: 20px;
  color:#fbc02d;
  top: 0;
  opacity: 0;
  transition: .5s;
  text-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
  opacity: 1;
}
