<!-- Section: Profile -->
<section id="category.html" class="section">
    <div class="row">

        <table class="highlight centered flow-text" id="table-category">
            <thead>
                <tr>
                    <th style="font-size: 1.1rem">Active</th>
                    <th style="font-size: 1.1rem">Mã danh mục</th>
                    <th style="font-size: 1.1rem">Tên danh mục</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                <tr style="font-size: 1.0rem">
                    <td></td>

                    <td>
                        <div class="input-field center">
                            <input class="disable" id="category-name-new" type="text">
                        </div>
                    </td>

                    <td>
                        <a class="blue-text underline-on-hover" id="btn-add-new">Thêm mới</a>
                    </td>
                </tr>

            </tbody>

        </table>

    </div>
</section>