<script>
    const sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav, {});

    //Side Menu
    $('.item-category').css("background-color", "#80cbc4");
</script>

<script>
    findAllCategory();
    function findAllCategory() {
        $.ajax({
            method: "GET",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/findAllCategory",
            success: function success(data) {
                $.each(data, function (i, value) {
                    value.forEach(function (entry, index) {

                        var output = "";
                        output += '<tr style="font-size: 1.1rem">';

                        //Active
                        output += '<td>';
                        if (entry.active == 0) {
                            output += '<span class="red-text underline-on-hover btn-active btn-active' + entry.categoryId + '" data-href="' + entry.categoryId + '">Ẩn';
                        } else {
                            output += '<span class="blue-text underline-on-hover btn-active btn-active' + entry.categoryId + '" data-href="' + entry.categoryId + '">Hiện';
                        }
                        output += '</span>';

                        output += '<td>';
                        output += '<span class="category-id' + index + '">' + entry.categoryId + '</span>';
                        output += '</td>';

                        output += '<td>';
                        output += '<div class="input-field center">';
                        output += '<input class="disable category-name' + index + '" id="category-name" type="text" value="' + entry.categoryName + '">';
                        output += '</div>';
                        output += '</td>';

                        output += '<td>';
                        output += '<a class="blue-text underline-on-hover btn-edit btn-save' + index + '" data-href="' + index + '">Sửa</a>';
                        output += '<a>&nbsp;&nbsp;</a>';
                        output += '<a class="red-text underline-on-hover btn-delete" data-href="' + index + '">Xoá</a>';
                        output += '</td>';

                        output += '</tr>';

                        $('#table-category > tbody:last').append(output);

                    });
                });

                //Disable Input
                $('.disable').attr("disabled", true);

                //btn edit
                $('.btn-edit').on('click', function () {
                    var index = $(this).data("href");
                    //Check
                    if ($('.btn-save' + index).text() == 'Sửa') {
                        //Edit
                        $('.btn-save' + index).text('Lưu');
                        $('.category-name' + index).attr("disabled", false);
                    } else {
                        //Save
                        updateCategory(index);
                    }

                });

                //btn delete
                $('.btn-delete').on('click', function () {
                    var index = $(this).data("href");
                    var id = $('.category-id' + index).text();
                    //Alert Confirm
                    if (confirm('Bạn có chắc chắn muốn xóa cái này không?')) {
                        deleteCategory(id);
                    } else {
                        //alert('cancel');
                    }
                });


                $('.btn-active').on('click', function () {
                    var categoryId = $(this).data("href");
                    if (confirm('Bạn muốn thực hiện thay đổi này?')) {
                        //Check
                        if ($('.btn-active' + categoryId).text().trim() == 'Ẩn') {
                            //Show
                            updateCategoryActive(categoryId, 1);

                        } else {
                            //Hide
                            updateCategoryActive(categoryId, 0);

                        }

                    };
                });
            }
        });
    }

    $('#btn-add-new').on('click', function () {
        if ($('#btn-add-new').text() == 'Lưu') {
            if ($('#category-name-new').val() == "")
                return alert('Vui lòng nhập tên danh mục');
            $('#btn-add-new').hide();
            //Save
            addCategory();
        } else {
            //Add
            $('#btn-add-new').text('Lưu');
            $('#category-name-new').attr("disabled", false);
        }

    });

    function updateCategory(index) {
        $.ajax({
            method: "PUT",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/updateCategory",
            data: {
                categoryId: $('.category-id' + index).text(),
                categoryName: $('.category-name' + index).val()
            },
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.update;
                });
                if (result == 1) {
                    //Set Text
                    $('.btn-save' + index).text('Sửa');
                    $('.category-name' + index).attr("disabled", true);
                    alert("Cập nhật thành công.");
                } else {
                    alert("Cập nhật thất bại.");
                }

            }
        });
    }

    function addCategory() {
        $.ajax({
            method: "POST",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/insertCategory",
            data: {
                categoryName: $('#category-name-new').val()
            },
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.insert;
                });
                if (result == 1) {
                    $('#btn-add-new').show();
                    $('#btn-add-new').text('Thêm mới');
                    $('#category-name-new').attr("disabled", true);
                    alert('Thêm mới thành công.');
                    //Reload Page
                    window.location.reload();
                } else {
                    alert('Thêm mới thất bại.');
                }
            }
        });
    }

    function deleteCategory(id) {
        $.ajax({
            method: "DELETE",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/deleteCategory",
            data: {
                categoryId: id
            },
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.delete;
                });
                if (result == 1) {
                    window.location.reload();
                    alert('Đã xoá thành công.');
                } else {
                    alert('Không thể xoá được.');
                }
            }
        });
    }

</script>

<script>
        function updateCategoryActive(_categoryId, _status) {
            $.ajax({
                method: "PUT",
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader("secret", "12345");
                },
                url: "admin/category/update-active-category.html",
                data: {
                    categoryId: _categoryId,
                    active: _status
                },
                success: function success(data) {
                    var result = "";
                    $.each(data, function (i, value) {
                        result = value.update;
                    });
                    if (result == 1) {
                        if (_status == 0) {
                            $('.btn-active' + _categoryId).text('Ẩn');
                            $('.btn-active' + _categoryId).removeClass('blue-text');
                            $('.btn-active' + _categoryId).addClass('red-text');
                        } else {
                            $('.btn-active' + _categoryId).text('Hiện');
                            $('.btn-active' + _categoryId).removeClass('red-text');
                            $('.btn-active' + _categoryId).addClass('blue-text');
                        }
                        alert("Cập nhật thành công.");
                    } else {
                        alert("Cập nhật thất bại.");
                    }
    
                }
            });
        }
    </script>