<!DOCTYPE html>
<html lang="en">

<head>
    <%include ../base/meta.ejs%>

        <%include ../base/css.ejs%>
            <link rel="stylesheet" href="css/home-style.css">

            <title>Đồ chơi trẻ em Kingpes</title>

            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({
                    google_ad_client: "ca-pub-2426411679559855",
                    enable_page_level_ads: true
                });
            </script>
</head>

<body class="grey lighten-3">

    <header>
        <%include ../base/header.ejs%>
    </header>

    <main>
        <%include layout.ejs%>
    </main>

    <footer>
        <%include ../base/footer.ejs%>
    </footer>

    <%include ../base/js.ejs%>

        <%include ../base/header-script.ejs%>

            <%include script.ejs%>

                <%include ../base/tracking.ejs%>

</body>

</html>