<script src="js/jquery.lazyload.min.js"></script>
<script type="text/javascript">

  // Sidenav
  const sideNav = document.querySelector('.sidenav');
  M.Sidenav.init(sideNav, {});

  // Slider
  const slider = document.querySelector('.slider');
  M.Slider.init(slider, {
    indicators: false,
    height: 550,
    transition: 500,
    interval: 2000
  });

  // ScrollSpy
  const ss = document.querySelectorAll('.scrollspy');
  M.ScrollSpy.init(ss, {});

</script>


<!-- Find List Product -->
<script type="text/javascript">
  var limit = 12;
  var offset = 0;
  var search = "";
  loadData(offset, limit, search);

  // loadmore
  $('#load-more').on('click', function () {
    loadData(offset, limit, search);
  });

  // web
  $('#nav-product').on('click', function () {
    offset = 0;
    search = "";
    $('#all-product').empty();
    loadData(offset, limit, search);
  });

  // mobile
  $('#nav-side-product').on('click', function () {
    offset = 0;
    search = "";
    $('#all-product').empty();
    loadData(offset, limit, search);
  });

  // search
  $('#search-input').keydown(function (e) {
    if (e.keyCode == 13) {
      search = $('#search-input').val();
      if (search != "") {
        $("#search-input").val('');
        $('#all-product').empty();
        offset = 0;
        loadData(offset, limit, search);
        //Scroll
        var position = $("section:last").offset().top;
        $(window).scrollTop(position);
      }
    }
  })

  function loadData(_offset, _limit, _filter) {
    if (_filter == "") {
      $('#title-product').empty().text('TẤT CẢ SẢN PHẨM');
    } else {
      $('#title-product').empty().text('Kết quả tìm kiếm');
    }
    $('#load-more').hide();
    $.ajax({
      method: "GET",
      dataType: "json",
      beforeSend: function (request) {
        request.setRequestHeader("secret", "12345");
      },
      url: "api/findAllProduct?filter=" + _filter + "&offset=" + _offset + "&limit=" + _limit,
      success: function success(data) {
        var count = 0;
        $.each(data, function (i, value) {

          if (_offset == 0) {
            if (value == "") {
              var output = "";
              output += '<h5 class="center flow-text" style="margin-top:10%;">';
              output += ' <span class="grey-text">Không tìm thấy kết quả phù hợp.</span>';
              output += ' <p class="grey-text">Vui lòng thử lại.</p>';
              output += '</h5>';
              $('#all-product').append(output);
            }
          }
          value.forEach(function (entry) {
            count++;
            var output = "";

            var productId = entry.productId;
            var productName = entry.productName;
            var sell = entry.sell;
            var discount = entry.promotionDiscount;
            var image1 = entry.image1;
            var likeTotal = entry.likeTotal;
            var rateTotal = entry.rateTotal;
            var rateValue = entry.rateValue;
            var commentTotal = entry.commentTotal;
            var superSale = entry.flashsaleDiscount;
            var point = entry.pointValue;
            var ship = entry.shipValue;

            //New Product
            var newProduct = 0;
            var time = new Date(entry.time);
            time.setDate(time.getDate() + 7);
            var now = new Date();
            if (Math.floor(time - now) > 0)
              newProduct = 1;

            output += '<div class="col s12 m4">';
            output += '<a href="/site/detail/sn:' + productId + '.html">';
            output += '<div class="card hoverable">';

            output += '<div class="card-image">'; //Start card Image
            // Image
            output += '<img class="lazy" data-original="upload/' + image1 + '">';
            //output += '<img src="upload/' + image1 + '">';


            //Discount
            if (discount > 0 && superSale > 0) {
              output += '<div class="label-discount-bottom-left">';
              output += '<span>-' + discount + '%</span>';
              output += '<span class="label-discount-bottom-left-1">-' + superSale + '%</span>';
              output += '</div>';
            } else if (discount > 0 && superSale <= 0) {
              output += '<div class="label-discount-bottom-left">';
              output += '<span>-' + discount + '%</span>';
              output += '</div>';
            } else if (discount <= 0 && superSale > 0) {
              output += '<span class="label-discount-bottom-left-2">-' + superSale + '%</span>';
            }


            //Point
            if (point == 5)
              output += '<span class="label-discount-bottom-right circles"><img src="img/point5.png" height="40px;"></span>';
            else  if (point == 10)
              output += '<span class="label-discount-bottom-right circles"><img src="img/point10.png" height="40px;"></span>';
            else  if (point == 20)
              output += '<span class="label-discount-bottom-right circles"><img src="img/point20.png" height="40px;"></span>';
            else  if (point == 30)
              output += '<span class="label-discount-bottom-right circles"><img src="img/point30.png" height="40px;"></span>';
            else  if (point == 40)
              output += '<span class="label-discount-bottom-right circles"><img src="img/point40.png" height="40px;"></span>';
            else  if (point == 50)
              output += '<span class="label-discount-bottom-right circles"><img src="img/point50.png" height="40px;"></span>';
            

            //New product
            if (newProduct > 0) {
              output += '<span class="label-discount-top-left">';
              output += '<img src="img/new.png">';
              output += '</span>';
            }
            output += '</div>'; //End card Image

            output += '<div class="card-content">'; //Start card content
            // Title
            output += '<h6 class="teal-text ellipsis">' + productName + '</h6>';

            // Price
            output += '<div class="red-text">';
            //Price Original
            if (discount > 0 || superSale > 0) {
              var priceOld = sell;
              output += '<span class="teal-text line-through" style="font-size: 70%; margin-right: 5px;">' + priceOld + '</span>';
            }
            //Price Discount
            var priceNew = sell - ((sell * discount) / 100) - ((sell * superSale) / 100);
            if (priceNew < 0)
              priceNew = 0;
            output += priceNew.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });
            output += '</div>';

            // Rating
            output += '<div class="">';

            var star = Math.floor(rateValue / rateTotal);
            var half = rateValue % rateTotal;
            if (rateTotal == null || rateTotal == 0) {
              half = 0;
              star = 0;
              rateTotal = 0;
            }
            for (i = 0; i < star; i++) {

              output += '<i class="material-icons yellow-text text-darken-2 icon-small">star</i>';

            }

            if (half > 0) {
              half = 1;
              output += '<i class="material-icons yellow-text text-darken-2 icon-small">star_half</i>';

            }

            for (i = 0; i < 5 - (star + half); i++) {

              output += '<i class="material-icons grey-text text-darken-2 icon-small">star</i>';

            }


            //Comment
            output += '<a class="text-small" style="margin-top: 3px">(' + rateTotal + 'nhận xét)</a>';
            output += '</div>';
            output += '</div>';
            output += '</div>';
            output += '</a>';
            output += '</div>';

            $('#all-product').append(output);

          });
        });

        //Check exist product
        if (count === limit) {
          $('#load-more').show();
        }
        //Set Offset
        offset += count;

        //Lazy load
        $("img.lazy").lazyload();

      }
    });
  }

</script>

<!-- Open Category -->
<script>

  // hide box search
  $('#box-category').hide();

  // more search
  function openCategory() {
    if ($('#box-category').is(":visible") == true) {
      $('#box-category').hide();
    } else {
      $('#box-category').show();
    }
  }

  // search category
  $('.item-click').click(function (event) {
    $('#box-category').hide();
    offset = 0;
    search = "~" + ($(this).data("href")) + "~";
    $('#all-product').empty();
    loadData(offset, limit, search);
    //Scroll
    var position = $("section:last").offset().top;
    $(window).scrollTop(position);
  });
</script>

<!-- Suggest Search -->
<script>

  var data = {}
  '<% home.Category.forEach(function(item, index){%>';
  data['<%-item.categoryName%>'] = null;
  '<%})%>'

  // Autocomplete
  const ac = document.querySelector('.autocomplete');
  M.Autocomplete.init(ac, {
    data
  });
</script>