<!-- Section: Transaction -->
<section id="transaction.html" class="section">

    <div class="row">
        <h4 class="center flow-text">
            <span class="teal-text" id="title-product">Tất cả giao dịch</span>
        </h4>

        <div class="container">

            <div class="row"style="margin-top: 20px;">
                <div class="input-field" style=" display:table; width: 100%;">

                    <span style="display: table-cell; padding-right: 10px;">
                        <div class="input-field">
                            <input id="date-from" type="text" class="datepicker">
                            <label for="date-from">Từ ngày</label>
                        </div>
                    </span>

                    <span style="display: table-cell; padding-right: 10px;">
                        <div class="input-field">
                            <input id="date-to" type="text" class="datepicker">
                            <label for="date-to">Từ ngày</label>
                        </div>
                    </span>

                    <span style="display: table-cell; padding-right: 10px;">
                        <span style="display: table-cell;">
                            <a id="btn-view" class="btn-small gone">Xem</a>
                        </span>
                    </span>

                </div>
            </div>


        </div>

        <div class="row">

            <table class="highlight centered flow-text" id="table-all-transaction">
                <thead>
                    <tr>
                        <th style="font-size: 1rem">Đơn hàng</th>
                        <th style="font-size: 1rem;">SL sản phẩm</th>
                        <th style="font-size: 1rem">Tổng tiền</th>
                        <th style="font-size: 1rem">Khuyến mãi</th>
                        <th style="font-size: 1rem">Ngày</th>
                        <th style="font-size: 1rem">Trạng thái</th>
                    </tr>
                </thead>

                <tbody></tbody>

            </table>

            <div class="center" style="margin-top: 30px">
                <span class="white-text btn" id="load-more">Hiển thị thêm</span>
            </div>

        </div>

    </div>

</section>