<!DOCTYPE html>
<html lang="en">

<head>
    <%include ../base/meta.ejs%>

        <%include ../base/css.ejs%>
        <link rel="stylesheet" href="css/profile-style.css">

            <title>Xác thực tài khoản - Đồ chơi trẻ em Kingpes</title>
</head>

<body class="grey lighten-3 center-align">

    <div style="margin-top: 10%"></div>

    <div class="row">
        <div class="col s12 m4 offset-m4">

            <div class="card-panel hoverable grey lighten-3">

                <h5 class="center flow-text">XÁC THỰC TÀI KHOẢN</h5>

                <div class="input-field">
                    <input id="verify" maxlength="5" type="text">
                    <label for="verify">Mã xác thực</label>
                </div>

                <div style="margin-top: 20px">
                    <input type="submit" class="btn bottom" value="Gửi" id="btn-send">
                </div>

            </div>
        </div>

    </div>

    <div class="row" style="margin-top: -20px;">
        <div class="col s12 m4 offset-m4">
            <a class="left underline-on-hover" style="margin-left: 20px; font-size: 0.8rem" id="resend-verify">Gửi lại mã <span id="counter"></span> </a>
        </div>
    </div>

    <%include ../base/js.ejs%>

        <%include script.ejs%>


</body>

</html>