<% var lstCate = cate%>
<% var lstSn = sn%>
<% var lstProduct = product%>
<!DOCTYPE html>
<html lang="en">

<head>
    <%include ../base/meta.ejs%>

    <%include ../base/css.ejs%>

    <title>Đồ chơi trẻ em Kingpes</title>

    <!-- Adsense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-6879436530328645",
            enable_page_level_ads: true
        });
    </script>

</head>

<body style="background-color: #bdc3c7">

    <header>
        <%include ../base/header.ejs%>
    </header>

    <main>
        <%include layout2.ejs%>
    </main>

    <footer>
        <%include ../base/footer.ejs%>
    </footer>

    <%include ../base/js.ejs%>

    <%include script.ejs%>

    <%include ../base/tracking.ejs%>

    <style>
        .section{
            padding-top: 0.01rem !important;
            padding-bottom: 0px !important;
        }

        .content {
            padding: 0px !important;
            cursor: pointer;
        }

        .ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical
        }

        h4 {
            font-size: 2.0rem !important;
            margin: 0rem !important;
            font-weight: 600 !important;
        }

        h5 {
            font-size: 1.2rem !important;
            margin: 0rem !important;
            font-weight: 1 !important;
            line-height: normal !important;
            margin-left: 10px !important;
        }

        h6 {
            font-size: 0.8rem !important;
            margin: 0rem !important;
            font-weight: 1 !important;
        }

        .row{
            margin-bottom: 8px !important;
        }

        .containers {
            position: relative;
            width: 100%;
        }

        .image {
            display: block;
            width: 100%;
            height: auto;
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .3s ease;
            background-color: #babdbdbd;
            cursor: pointer;
        }

        .containers:hover .overlay {
            opacity: 1;
        }

        .icon {
            color: white;
            font-size: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }
    </style>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v3.2'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat" attribution=setup_tool page_id="1395108214088691" theme_color="#20cef5">
    </div>

</body>

</html>