<!DOCTYPE html>
<html lang="en">

<head>
    <%include ../../base/meta.ejs%>

        <%include ../../base/css.ejs%>
            <link rel="stylesheet" href="css/admin-css.css">

            <title>Thêm mới bài viết</title>
</head>

<body class="grey lighten-3">

    <header>
        <%include ../../base/header.ejs%>
    </header>

    <main>
        <%include layout.ejs%>
    </main>

    <footer>
        <%include ../../base/footer.ejs%>
    </footer>

    <%include ../../base/js.ejs%>

        <%include script.ejs%>

</body>

</html>