<!-- Section: Contact -->
<section id="banner-add" class="section section-add grey lighten-3">
    <div class="container">
        <div class="row">
            <div class="card-panel grey lighten-3">

                <form id="addForm" enctype="multipart/form-data" action="admin/blog/add-image-blog.html" method="post">

                    <!-- BLOG TITLE -->
                    <div class="input-field">
                        <input id="blog-title" type="text" name="blogTile">
                        <label for="blog-title">Tiêu đề</label>
                    </div>

                    <!-- BLOG DESCRIPTION -->
                    <div class="input-field">
                        <input id="blog-description" type="text" name="blogDescription">
                        <label for="blog-description">Mô tả</label>
                    </div>

                    <!-- SOURCE -->
                    <div class="input-field">
                        <input id="blog-source" type="text" name="blogSource">
                        <label for="blog-source">Nguồn</label>
                    </div>

                    <!-- IMAGE -->
                    <div class="input-field file-field image-input">
                        <input id="file-blog" type="file" name="userPhoto" required="" accept="image/*">
                        <div class="file-path-wrapper">
                            <input class="file-path" type="text" placeholder="Hình ảnh">
                        </div>
                    </div>

                    <!-- DESCRIPTION -->
                    <div class="file-field margin-top-20 gone">
                        <p class="grey-text">Nội dung</p>
                        <textarea id="editor" name="editor"></textarea>
                    </div>

                    <!-- BUTTON -->
                    <div class="margin-top-20">
                        <input type="submit" value="Thêm" class="btn bottom" id="btn-add">
                    </div>

                </form>

            </div>
        </div>
    </div>
</section>