<script src="js/jquery.form.min.js"></script>
<script src="ckeditor/ckeditor.js"></script>
<script>CKEDITOR.replace('editor')</script>
<script>
    const sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav, {});

    //Picker
    $('.datepicker').datepicker({
        selectMonths: false,
        selectYears: 15,
        format: 'dd-mm-yyyy',
    });

    //Side Menu
    $("#drop-event").addClass("active");
    //Side Menu
    $('.item-add-event').css("background-color", "#80cbc4");
</script>

<script>

    //Upload Image
    $(document).ready(function () {

        $('#addForm').submit(function () {
            $('#btn-add').hide();
            $(this).ajaxSubmit({
                success: function (data) {
                    if (data.length > 0) {
                        var filename = data[0].filename;
                        uploadData(filename);
                    } else {
                        alert('Đã xảy ra lỗi!');
                        $('#btn-add').show();
                    }
                }
            });
            return false;
        });
    });


    //Upload Data
    function uploadData(filename) {

        var content = CKEDITOR.instances['editor'].getData();
        if (content.indexOf("<img") > -1) {
            content = content.replace(/<img/g, '<img class="responsive-img"');
        }

        if (content.indexOf("<iframe") > -1) {
            content = content.replace(/<iframe/g, '<div class="video-container"><iframe');
            content = content.replace(/scrolling="no"/g, 'allowfullscreen');
            content = content.replace(/iframe>/g, 'iframe></div>');
        }

        $.ajax({
            method: "POST",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "/admin/event/add-data-event.html",
            data: {
                eventTitle: $('#event-title').val(),
                eventStart: formatDateYYYYMMDD($('#event-start').val()),
                eventEnd: formatDateYYYYMMDD($('#event-end').val()),
                eventContent: content,
                eventImage: filename,
            },
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.insert;
                });
                if (result === 1) {
                    //Successfull
                    alert('Thêm sự kiện thành công.');
                    location.reload();
                } else {
                    //Fail
                    alert('Đã xảy ra lỗi!');
                    $('#btn-add').show();
                }
            }
        });
    }

    function formatDateYYYYMMDD(date) {
        return date.split("-").reverse().join("-");
    }
</script>