<!-- Navbar -->
<div class="navbar navbar-fixed">
    <nav class="teal">

        <div class="nav-wrapper">
            <a class="brand-logo margin-left-10">
                <div style="margin-top: 10px;">
                    <!-- <img src="img/logokingpes.png" height="40px;"> -->
                    <img src="img/kingpes.png" height="40px;">
                </div>
            </a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down margin-right-10">

                <li>
                    <a href="#product.html" id="nav-product">Sản phẩm</a>
                </li>
                <li>
                    <a href="#flash-sale.html" id="flashsale">Giảm sốc</a>
                </li>
                <li>
                    <a href="#search.html">Tìm kiếm</a>
                </li>
                <li>
                    <a href="/site/blog.html">Bài viết</a>
                </li>
                <li>
                    <a href="/site/event.html">Sự kiện</a>
                </li>
                <li>
                    <a href="/site/service.html">Dịch vụ</a>
                </li>
                <li>
                    <a href="/site/support.html">Hổ trợ</a>
                </li>
                <li>
                    <a href="/site/cart.html">Giỏ hàng
                        <span class="red-text" id="bage-cart"></span>
                    </a>
                </li>
                <li>
                    <%if (user == undefined){%>
                        <a class="btn" href="/login.html">
                            Đăng nhập
                        </a>
                        <%}else{%>
                            <a href="/site/profile.html">
                                <%userId = user.userId%>
                                    <%point = user.point%>
                                        <%giftId = user.giftId%>
                                            <%giftName = user.giftName%>
                                                <%giftValue = user.giftValue%>
                                                    <%giftApplied = user.applied%>
                                                        <%=user.nickname%>
                                                            <i class="material-icons right">account_circle</i>
                            </a>
                            <%}%>
                </li>

            </ul>
        </div>

    </nav>

</div>


<ul class="sidenav" id="mobile-nav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="img/header.jpg">
            </div>

            <%if (user == undefined){%>
                <a class="btn" href="/login.html" style="margin-bottom: 12%; margin-top: 5%;">
                    Đăng nhập
                </a>
                <%}else{%>

                    <a href="/site/profile.html">
                        <img class="circle" width="60" height="60" avatar="<%=user.nickname%>">
                    </a>

                    <a href="/site/profile.html" style="margin-left: 10px;">
                        <%userId = user.userId%>
                            <%point = user.point%>
                                <%giftId = user.giftId%>
                                    <%giftName = user.giftName%>
                                        <%giftValue = user.giftValue%>
                                            <%giftApplied = user.applied%>
                                                <%=user.nickname%>
                    </a>
                    <%}%>
        </div>
    </li>

    <li>
        <a href="#product.html" id="nav-side-product">Sản phẩm</a>
    </li>
    <li>
        <a href="#flash-sale.html">Giảm sốc</a>
    </li>
    <li>
        <a href="#search.html">Tìm kiếm</a>
    </li>
    <li>
        <a href="/site/blog.html">Bài viết</a>
    </li>
    <li>
        <a href="/site/event.html">Sự kiện</a>
    </li>
    <li>
        <a href="/site/service.html">Dịch vụ</a>
    </li>
    <li>
        <a href="/site/support.html">Hổ trợ</a>
    </li>
    <li>
        <a href="/site/cart.html">Giỏ hàng
            <span class="red-text" id="bage-cart"></span>
        </a>
    </li>

</ul>