<% var lstCate = cate%>
<% var lstSn = sn%>
<% var lstProduct = product%>
<!DOCTYPE html>
<html lang="en">

<head>
    <%include ../base/meta.ejs%>

    <%include ../base/css.ejs%>

    <title>Đồ chơi trẻ em Kingpes</title>

</head>

<body style="background-color: #bdc3c7">

    <header>
        <%include ../base/header.ejs%>
    </header>

    <main>
        <%include layout.ejs%>
    </main>

    <footer>
        <%include ../base/footer.ejs%>
    </footer>

    <%include ../base/js.ejs%>

    <%include script.ejs%>

    <%include ../base/tracking.ejs%>

    <style>
        .container {
            margin: 0 auto;
            max-width: 1280px;
            width: 90%;
        }

        @media only screen and (min-width: 601px) {
            .container {
                width: 90%;
            }
        }

        @media only screen and (min-width: 993px) {
            .container {
                width: 90%;
            }
        }


        .pb-video-container {
            padding-top: 20px;
            font-family: Lato;
        }

        .pb-video {
            border: 0px solid #e6e6e6;
            padding: 5px;
        }

        .pb-video:hover {
            background: #2c3e50;
        }

        .pb-video-frame {
            transition: width 1s, height 1s;
        }

        .pb-video-frame:hover {
            height: 300px;
        }

        .pb-row {
            margin-bottom: 10px;
        }


        .containers {
            position: relative;
            width: 100%;
            max-width: 400px;
        }

        .image {
            display: block;
            width: 100%;
            height: auto;
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .3s ease;
            background-color: #ffe6e6e6 ;
        }

        .containers:hover .overlay {
            opacity: 1;
        }

        .icon {
            color: white;
            font-size: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .fa-user:hover {
            color: #eee;
        }
    </style>

</body>

</html>