<script src="js/jquery.lazyload.min.js"></script>
<script>
    // Sidenav
    const sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav, {});
</script>

<!-- Ranking -->
<script type="text/javascript">
    var limit = 10;
    var offset = 0;
    findRanking(offset, limit);

    function findRanking(_offset, _limit) {
        $.ajax({
            method: "GET",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/findAllRanking?offset=" + _offset + "&limit=" + _limit,
            success: function success(data) {
                $.each(data, function (i, value) {
                    value.forEach(function (entry, index) {

                        var output = "";
                        output += '<tr style="font-size: 1.1rem">';

                        //Rank
                        output += '<td>';
                        output += '<span>' + (index + 1) + '</span>';
                        output += '</td>';

                        //Nickname
                        output += '<td>';
                        output += '<span>' + entry.nickname + '</span>';
                        output += '</td>';

                        //Point
                        output += '<td>';
                        output += '<span>' + entry.points + '</span>';
                        output += '</td>';

                        //Update
                        output += '<td>';
                        output += '<span>' + timeSince(new Date(entry.updates)) + ' trước </span>';
                        output += '</td>';

                        output += '</tr>';

                        $('#table-ranking > tbody:last').append(output);

                    });
                });

            }
        });
    }
</script>

<!-- Coming soon -->
<script type="text/javascript">
    var limit = 10;
    var offset = 0;
    findComingSoon(offset, limit);


    function findComingSoon(_offset, _limit) {
        $('#load-more').hide();
        $.ajax({
            method: "GET",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/findAllEvent?offset=" + _offset + "&limit=" + _limit,
            success: function success(data) {
                var count = 0;
                $.each(data, function (i, value) {
                    value.forEach(function (entry) {
                        count++;
                        var output = "";

                        output += '<div class="card horizontal hoverable">';
                        output += '<div class="card-image hide-on-small-only" style="margin: 30px;">';
                        output += '<a href="site/event/id:' + entry.eventId + '.html">';
                        //output += '<img src="upload/' + entry.blogImage + '" height="130px;">';
                        output += '<img class="lazy" data-original="upload/' + entry.eventImage + '" height="130px;">';
                        output += '</a>';
                        output += '</div>';

                        output += '<div class="card-stacked">';

                        output += '<a href="site/event/id:' + entry.eventId + '.html">';
                        //output += '<img class="responsive-img hide-on-med-and-up" src="upload/' + entry.blogImage + '">';
                        output += '<img class="lazy responsive-img hide-on-med-and-up" data-original="upload/' + entry.eventImage + '">';
                        output += '</a>';
                        output += '<div class="card-content">';
                        output += '<a href="site/event/id:' + entry.eventId + '.html" class="underline-on-hover">';
                        output += '<h5>';
                        output += entry.eventTitle;
                        output += '</h5>';
                        output += '</a>';

                        output += '<a href="site/event/id:' + entry.eventId + '.html" class="black-text">';
                        output += entry.eventContent;
                        output += '</a>';
                        output += '</div>';
                        output += '<div style="margin-bottom: 10px;">';


                        var start = new Date(entry.start);
                        var current = new Date();
                        var end = new Date(entry.end);

                        if (current >= start && current < end) {
                            output += '<a class="red-text right" style="margin-right: 10px;">';
                            output += 'ĐANG DIỄN RA';
                            output += '</a>';
                        } else {
                            output += '<a class="blue-text right" style="margin-right: 10px;">';
                            output += 'SẮP DIỄN RA';
                            output += '</a>';
                        }

                        output += '</div>';

                        output += '</div>';

                        output += '</div>';

                        $('#all-event').append(output);
                    });
                });

                //Check exist product
                if (count === limit) {
                    $('#load-more').show();
                }
                //Set Offset
                offset += count;

                //Lazy load
                $("img.lazy").lazyload();

            }
        });
    }

</script>

<script>
    function timeSince(date) {

        var seconds = Math.floor((new Date() - date) / 1000);

        var interval = Math.floor(seconds / 31536000);

        if (interval > 1) {
            return interval + " năm";
        }
        interval = Math.floor(seconds / 2592000);
        if (interval > 1) {
            return interval + " tháng";
        }
        interval = Math.floor(seconds / 86400);
        if (interval > 1) {
            return interval + " ngày";
        }
        interval = Math.floor(seconds / 3600);
        if (interval > 1) {
            return interval + " giờ";
        }
        interval = Math.floor(seconds / 60);
        if (interval > 1) {
            return interval + " phút";
        }
        return Math.floor(seconds) + " giây";
    }
</script>