<!-- Section: Find Id -->
<section id="product-edit" class="section section-add grey lighten-3">
    <div class="container">
        <div class="row">
            <div class="card-panel hoverable grey lighten-3">

                <!-- Find Id -->
                <div class="row">
                    <div class="input-field col s10 m8 l6 offset-s1 offset-m2 offset-l3" style="display:table;">
                        <input id="product-sn" type="text">
                        <label for="product-sn">Mã sản phẩm</label>
                        <span style="display: table-cell;">
                            <a id="btn-find" class="btn gone">Tìm</a>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>