<!-- Section: Contact -->
<section id="banner-add" class="section section-add grey lighten-3">
    <div class="container">
        <div class="row">
            <div class="card-panel grey lighten-3">

                <form id="addForm" enctype="multipart/form-data" action="admin/service/add-image-service.html" method="post">

                    <!-- BANNER TITLE -->
                    <div class="input-field">
                        <input id="service-title" type="text" name="serviceTitle">
                        <label for="service-title">Tiêu đề</label>
                    </div>

                    <!-- IMAGE -->
                    <div class="input-field file-field image-input">
                        <input id="file-banner" type="file" name="userPhoto" required="" accept="image/*">
                        <div class="file-path-wrapper">
                            <input class="file-path" type="text" placeholder="Chọn hình ảnh">
                        </div>
                    </div>

                    <!-- DESCRIPTION -->
                    <div class="file-field margin-top-20">
                        <p class="grey-text">Nội dung</p>
                        <textarea id="editor" name="editor"></textarea>
                    </div>

                    <!-- BUTTON -->
                    <div class="margin-top-20">
                        <input type="submit" value="Thêm" class="btn bottom" id="btn-add">
                    </div>

                </form>

            </div>
        </div>
    </div>
</section>