<!-- Section: Find Id -->
<section id="product-edit" class="section section-add grey lighten-3">
    <div class="container">
        <div class="row">
            <div class="card-panel hoverable grey lighten-3">

                <!-- Find Id -->
                <div class="row">
                    <div class="input-field col s10 m8 l6 offset-s1 offset-m2 offset-l3" style="display:table;">
                        <input id="product-sn" type="text">
                        <label for="product-sn">Mã sản phẩm</label>
                        <span style="display: table-cell;">
                            <a id="btn-find" class="btn gone">Tìm</a>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Section: Profile -->
<section id="list-buy-at-store.html" class="section">
    <div class="row">

        <table class="highlight centered flow-text" id="table-buy-at-store">
            <thead>
                <tr>
                    <th style="font-size: 1.1rem">Hình ảnh</th>
                    <th style="font-size: 1.1rem">Tên sp</th>
                    <th style="font-size: 1.1rem">Giá tiền</th>
                    <th style="font-size: 1.1rem">Số lượng</th>
                    <th style="font-size: 1.1rem"></th>
                </tr>
            </thead>

            <tbody>

            </tbody>

        </table>

        <!-- Button -->
        <div class="row">
            <div class="col s6 offset-s3">
                <p class="center-align" style="margin-top: 50px;">
                    <a id="btn-confirm" class="btn">Xác nhận</a>
                </p>
            </div>
        </div>

    </div>
</section>