<script>
    const sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav, {});

    //Side Menu
    $("#drop-sell").addClass("active");
    //Side Menu
    $('.item-store').css("background-color", "#80cbc4");
</script>

<script>

    var shoppingCartItem = [];

    $('.gone').hide();

    $('#table-buy-at-store').hide();

    $('#btn-confirm').hide();

    $('#product-sn').on('input', function (e) {
        var sn = $('#product-sn').val();
        if (sn !== "") {
            $('#btn-find').show();
        } else {
            $('#btn-find').hide();
        }
    });
    $('#btn-find').on('click', function () {
        var sn = $('#product-sn').val();
        $('#btn-find').hide();
        findProductBySn(sn);
    });

    $('#btn-confirm').on('click', function () {
        $('#btn-confirm').hide();
        insertOders();
    });

    function updatePriceTotalFee(total){
        for(var i = 0; i < shoppingCartItem.length; i++){
            shoppingCartItem[i].productTotalFee = total;
        }
    }

    function insertOders() {
        $.ajax({
            method: "POST",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/insertOrderStore",
            data: {
                order: JSON.stringify(shoppingCartItem)
            },
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.insert;
                });
                if (result === 1) {
                    //Successfull
                    alert('Đã mua sản phẩm thành công.');
                    location.reload();
                } else {
                    //Fail
                    alert('Đã xảy ra lỗi!');
                }
            }
        });
    }

    function findProductBySn(sn) {
        $.ajax({
            method: "GET",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            data: {
                productSn: sn
            },
            url: "admin/product/findProductBySn",
            success: function success(data) {
                $.each(data, function (i, value) {
                    if (value == null || value == "") {
                        return alert('Mã sản phẩm không tồn tại.');
                    }
                    value.forEach(function (entry, index) {
                        $('#table-buy-at-store').show();
                        $('#btn-confirm').show();
                        saveShoppingCartItem(entry);
                    });
                });
            }
        });
    }

    function saveShoppingCartItem(product) {
        var item = {
            productId: product.productId,
            productName: product.productName,
            productImage: product.image1,
            productPrice: product.sell,
            productTotalFee: 0,
            productAmount: 1,
            productMaxAmount: product.amountBuy,
            status: 5,
            promotionId: 0,
            flashsaleId: 0,
            voucherId: 0,
            pointId: 0,
            pointUse: 0,
            giftId: 0
        }

        var exists = false;
        if (shoppingCartItem.length > 0) {
            $.each(shoppingCartItem, function (index, value) {
                if (value.productId == item.productId) {
                    value.productAmount++;
                    if (value.productAmount > value.productMaxAmount)
                        value.productAmount--;
                    exists = true;
                    return false;
                }
            });
        }

        if (!exists) {
            shoppingCartItem.push(item);
        }

        sessionStorage["buy-at-store"] = JSON.stringify(shoppingCartItem);

        displayShoppingCartItem();

    }

    function updateShoppingCartItem(index, newPrice) {
        shoppingCartItem[index].productTotalFee = newPrice;
        sessionStorage["buy-at-store"] = JSON.stringify(shoppingCartItem);
        displayShoppingCartItem();
    }

    function removeShoppingCartItem(index) {
        shoppingCartItem.splice(index, 1);
        sessionStorage["buy-at-store"] = JSON.stringify(shoppingCartItem);
        displayShoppingCartItem();
    }

    function updateUpShoppingCartItem(index) {
        shoppingCartItem[index].productAmount++;
        if (shoppingCartItem[index].productAmount > shoppingCartItem[index].productMaxAmount)
            shoppingCartItem[index].productAmount--;
        sessionStorage["buy-at-store"] = JSON.stringify(shoppingCartItem);
        displayShoppingCartItem();
    }

    function updateDownShoppingCartItem(index) {
        shoppingCartItem[index].productAmount--;
        if (shoppingCartItem[index].productAmount < 0)
            shoppingCartItem[index].productAmount = 0;
        sessionStorage["buy-at-store"] = JSON.stringify(shoppingCartItem);
        displayShoppingCartItem();
    }

    function displayShoppingCartItem() {
        if (sessionStorage["buy-at-store"] != null) {
            shoppingCartItem = JSON.parse(sessionStorage["buy-at-store"].toString());

            $("#table-buy-at-store > tbody").html("");

            $.each(shoppingCartItem, function (index, item) {
                var output = "";
                output += '<tr style="font-size: 1.0rem">';
                output += '<td><img src="upload/' + item.productImage + '"height="40px"></td>';
                output += '<td>' + item.productName + '</td>';
                var price = item.productPrice;
                price = price.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });

                output += '<td>'
                output += '<div class="input-field">';
                output += '<input style="width: 70%;" class="disable center product-price' + index + '" type="text" value="' + price + '">';
                output += '<a class="blue-text underline-on-hover btn-edit btn-save' + index + '" data-href="' + index + '">Sửa</a>';
                output += '</div>';

                output += '</td>';
                output += '<td>';
                output += '<div class="row">';
                output += '<div class="col s12 m5">';
                output += '<a class="btn-small btn-down" data-href="' + index + '"> - </a>';
                output += '</div>';
                output += '<div class="col s12 m2">';
                output += '<a>' + item.productAmount + '</a>';
                output += '</div>';
                output += '<div class="col s12 m5">';
                output += '<a class="btn-small btn-up" data-href="' + index + '"> + </a>';
                output += '</div>';
                output += '</div>';
                output += '</td>';
                output += '<td><i class="material-icons hoverable red-text btn-clear" data-href="' + index + '" style="cursor: pointer;">cancel</i></td>';
                output += '</tr>';

                $('#table-buy-at-store > tbody:last').append(output);
            });

            //Calculate Fee
            var totalFee = 0;
            $.each(shoppingCartItem, function (index, item) {
                totalFee += item.productPrice * item.productAmount
            });

            updatePriceTotalFee(totalFee);

            var total = "";
            total += '<tr style="font-size: 1.0rem">';
            total += '<td></td>';
            total += '<td class="teal-text">Tổng Cộng:</td>';
            total += '<td class="red-text" id="totalFee">' + totalFee.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }) + '</td>';
            total += '<td></td>';
            total += '<td></td>';
            total += '</tr>';

            $('#table-buy-at-store > tbody:last').append(total);

        } else {
            //Cart Emty
            $('#table-buy-at-store').hide();
        }

        //Clear
        $('.btn-clear').on('click', function () {
            var index = $(this).data("href");
            removeShoppingCartItem(index);
        });

        //Down
        $('.btn-down').on('click', function () {
            var index = $(this).data("href");
            updateDownShoppingCartItem(index);
        });

        //Up
        $('.btn-up').on('click', function () {
            var index = $(this).data("href");
            updateUpShoppingCartItem(index);
        });

        //Price Change
        $('.disable').attr("disabled", true);

        //btn edit
        $('.btn-edit').on('click', function () {
            var index = $(this).data("href");
            //Check
            if ($('.btn-save' + index).text() == 'Sửa') {
                //Edit
                $('.btn-save' + index).text('Lưu');
                $('.product-price' + index).attr("disabled", false);
                $('.product-price' + index).empty().val('');
                $('.product-price' + index).focus();
            } else {
                //Save
                var price = Number($('.product-price' + index).val());

                if (price > 0) {
                    $('.disable').attr("disabled", true);
                    updateShoppingCartItem(index, price);
                } else {
                    $('.product-price' + index).empty().val('');
                    $('.product-price' + index).focus();
                }
            }
        });
    }

</script>