<% var lstCate = cate%>
<% var lstSn = sn%>
<% var lstProduct = product%>
<!DOCTYPE html>
<html lang="en">

<head>
    <%include ../base/meta.ejs%>

    <%include ../base/css.ejs%>

    <title>Đồ chơi trẻ em Kingpes</title>

</head>

<body style="background-color: #bdc3c7">

    <header>
        <%include ../base/header.ejs%>
    </header>

    <main>
        <%include layout1.ejs%>
    </main>

    <footer>
        <%include ../base/footer1.ejs%>
    </footer>

    <%include ../base/js.ejs%>

    <%include script.ejs%>

    <%include ../base/tracking.ejs%>

    <style>
        .section {
            padding-top: 0.01rem !important;
            padding-bottom: 0px !important;
        }

        /* .content {
            padding-left: -0.5rem !important;
            cursor: pointer;
        } */

        .ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical
        }

        h4 {
            font-size: 1.4rem !important;
            margin: 0rem !important;
            font-weight: 600 !important;
        }

        h5 {
            font-size: 1.4rem !important;
            margin: 0rem !important;
            font-weight: 1 !important;
            line-height: normal !important;
        }

        h6 {
            font-size: 0.9rem !important;
            margin: 0rem !important;
            font-weight: 0 !important;
        }

        .row {
            margin-bottom: 7px !important;
        }

        @media screen and (min-width: 992px) {
            .col {
                padding-top: 0rem !important;
                padding-bottom: 0rem !important;
                padding-left: 0rem !important;
            }

            .de {
                padding-left: 0.5rem !important;
            }

            .sn {
                margin-left: 1rem !important;
            }
        }

        .containers {
            position: relative;
            width: 100%;
        }

        .image {
            display: block;
            width: 100%;
            height: auto;
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .2s ease;
            background-color: #babdbdbd;
            cursor: pointer;
        }

        .containers:hover .overlay {
            opacity: 1;
        }

        .icon {
            color: white;
            font-size: 100px;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }
    </style>

</body>

</html>