<div id="modal-exist" class="modal">
    <div class="modal-content">
        <div class="nav-wrapper center">
            <h3 class="flow-text">Sản phẩm đã tồn tại</h3>
        </div>
    </div>
</div>