<script src="js/jquery.form.min.js"></script>
<script src="ckeditor/ckeditor.js"></script>

<script>CKEDITOR.replace('editor')</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.chips');
        var instances = M.Chips.init(elems, {
            placeholder: 'Nhập ID Video',
            secondaryPlaceholder: '+ ID Video',
            limit: 5
        });
    });
</script>

<script>
    const sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav, {});

    //Side Menu
    $("#drop-product").addClass("active");
    //Side Menu
    $('.item-add-product').css("background-color", "#80cbc4");
</script>

<script>
    $('select').formSelect();

    $('#modal-exist').modal();

    $('#progress').hide();

    $('#btn-check').hide();

    //Hide Form
    $(".gone").hide();

    //Var isCheck
    var isCheck = false;

    //btn-chek click
    $('#btn-check').on('click', function () {
        var productSn = $('#product-code').val();
        if (productSn !== "") {
            $('#btn-check').hide();
            isCheck = true;
            checkProduct(productSn);
            $('#progress').show();
        }
        return false;
    });

    //Check Input Change
    $('#product-code').on('input', function (e) {
        var productCode = $('#product-code').val();
        if (productCode !== "") {
            $('#btn-check').show();
        } else {
            $('#btn-check').hide();
        }

        if (isCheck) {
            isCheck = false;
            $(".gone").hide();

            //Clear text
        }
    });

    function checkProduct(sn) {
        $.ajax({
            method: "POST",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "/admin/product/check-product",
            data: {
                productSn: sn,
            },
            success: function success(data) {
                $('#progress').hide();
                var result = "";
                $.each(data, function (i, value) {
                    result = value.productId;
                });

                if (result === 0) {
                    //OK
                    $(".gone").show();

                } else if (result > 0) {
                    //Exist
                    var output = '<div class="modal-footer">';
                    output += '<div class="row">';
                    output += '<a href="admin/product/edit-product/id:' + result + '.html" class="waves-effect waves-green btn center">Cập nhật sản phẩm</a>';
                    output += '</div>';
                    output += '</div>';
                    $('#modal-exist').append(output);
                    $('#modal-exist').modal('open');
                } else {
                    //Error
                    alert('Đã xảy ra lỗi!');
                }
            }
        });
    }

    //Upload Image
    $(document).ready(function () {

        $('#file').on('change', function(){
            if($('#file').prop('files').length > 5){
                alert('Vui lòng chọn 5 ảnh.');
                $('#file').empty().val(null);
            }
        });

        $('#addForm').submit(function () {

            $('#progress').show();
            $('#btn-add').hide();

            $(this).ajaxSubmit({
                success: function (data) {
                    if (data.length > 0) {
                        var filename = "";
                        $.each(data, function (i, value) {
                            filename += value.filename + "~";
                        });
                        filename = filename.substr(0, filename.length - 1);;
                        uploadData(filename);
                    } else {
                        alert('Đã xảy ra lỗi!');
                        $('#progress').hide();
                        $('#btn-add').show();
                    }
                }
            });
            return false;
        });
    });

    //Upload Data
    function uploadData(filename) {
        $.ajax({
            method: "POST",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "/admin/product/add-data-product.html",
            data: {
                productSn: $('#product-code').val(),
                productName: $('#product-name').val(),
                productCategory: $('#cb-category option:selected').val(),
                promotionId: $('#cb-promotion option:selected').val(),
                flashsaleId: $('#cb-flashsale option:selected').val(),
                voucherId: $('#cb-voucher option:selected').val(),
                pointId: $('#cb-point option:selected').val(),
                productShip: $('#cb-ship option:selected').val(),
                productAmount: $('#product-amount').val(),
                productBuy: $('#product-buy').val(),
                productSell: $('#product-sell').val(),
                productImage: filename,
                productVideo: getContentChips(),
                productEditor: getContentEditor()
            },
            success: function success(data) {
                $('#progress').hide();
                var result = "";
                $.each(data, function (i, value) {
                    result = value.insert;
                });
                if (result === 1) {
                    //Successfull
                    alert('Thêm sản phẩm thành công.');
                    location.reload();
                } else {
                    //Fail
                    alert('Đã xảy ra lỗi!');
                    $('#btn-add').show();
                }
            }
        });
    }

    function getContentChips() {
        var chip = M.Chips.getInstance($(".chips"));
        var result = "";
        $.each(chip.chipsData, function (i, content) {
            result += content.tag + "~";
        });
        return result.substr(0, result.length - 1);
    }

    function getContentEditor() {
        var content = CKEDITOR.instances['editor'].getData();
        if (content.indexOf("<img") > -1) {
            alert(content);
        }
        return content;
    }
</script>