<script src="js/jquery.lazyload.min.js"></script>
<script>
    // Sidenav
    const sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav, {});
</script>

<script type="text/javascript">
    var limit = 10;
    var offset = 0;
    loadData(offset, limit);


    function loadData(_offset, _limit) {
        $('#load-more').hide();
        $.ajax({
            method: "GET",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/findAllBlog?offset=" + _offset + "&limit=" + _limit,
            success: function success(data) {
                var count = 0;
                $.each(data, function (i, value) {
                    value.forEach(function (entry) {
                        count++;
                        var output = "";

                        output += '<div class="card horizontal hoverable">';
                        output += '<div class="card-image hide-on-small-only" style="margin: 30px;">';
                        output += '<a href="site/blog/id:' + entry.blogId + '.html">';
                        //output += '<img src="upload/' + entry.blogImage + '" height="130px;">';
                        output += '<img class="lazy" data-original="upload/' + entry.blogImage + '" height="130px;">';
                        output += '</a>';
                        output += '</div>';

                        output += '<div class="card-stacked">';

                        output += '<a href="site/blog/id:' + entry.blogId + '.html">';
                        //output += '<img class="responsive-img hide-on-med-and-up" src="upload/' + entry.blogImage + '">';
                        output += '<img class="lazy responsive-img hide-on-med-and-up" data-original="upload/' + entry.blogImage + '">';
                        output += '</a>';
                        output += '<div class="card-content">';
                        output += '<a href="site/blog/id:' + entry.blogId + '.html" class="underline-on-hover">';
                        output += '<h5>';
                        output += entry.blogTitle;
                        output += '</h5>';
                        output += '</a>';

                        output += '<a href="site/blog/id:' + entry.blogId + '.html" class="black-text">';
                        output += entry.blogDescription;
                        output += '</a>';
                        output += '</div>';
                        output += '<div style="margin-bottom: 10px;">';
                        output += '<a class="grey-text right" style="margin-right: 10px;">Nguồn: ';
                        output += entry.source;
                        output += '</a>';
                        output += '</div>';

                        output += '</div>';

                        output += '</div>';

                        $('#all-blog').append(output);
                    });
                });

                //Check exist product
                if (count === limit) {
                    $('#load-more').show();
                }
                //Set Offset
                offset += count;

                //Lazy load
                $("img.lazy").lazyload();

            }
        });
    }

</script>