<script>
    const sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav, {});

    //Side Menu
    $('.item-raiting').css("background-color", "#80cbc4");
</script>

<script>
    findAllRaiting();
    function findAllRaiting() {
        $.ajax({
            method: "GET",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/findAllRaitingForAdmin",
            success: function success(data) {
                $.each(data, function (i, value) {
                    value.forEach(function (entry, index) {

                        var output = "";
                        output += '<tr style="font-size: 1.1rem">';

                        // ID
                        output += '<td>';
                        output += '<a href="admin/raiting/answer/id:' + entry.id + '.html" class="underline-on-hover black-text">';
                            output += '<span id="id' + index + '" >' + entry.id + '</span>';
                        output += '</a>';
                        output += '</td>';
                        // PRODUCT ID
                        output += '<td>';
                        output += '<a href="admin/raiting/answer/id:' + entry.id + '.html" class="underline-on-hover black-text">';
                        output += entry.rateId;
                        output += '</a>';
                        output += '</td>';

                        // USER ID
                        output += '<td>';
                        output += '<a href="admin/raiting/answer/id:' + entry.id + '.html" class="underline-on-hover black-text">';
                        output += entry.userId;
                        output += '</a>';
                        output += '</td>';

                        // CONTENT
                        output += '<td>';
                        output += '<a href="admin/raiting/answer/id:' + entry.id + '.html" class="underline-on-hover black-text">';
                        output += entry.rateQuestion;
                        output += '</a>';
                        output += '</td>';

                        // STAR
                        output += '<td>';

                        for (i = 0; i < entry.rate; i++) {

                            output += '<i class="material-icons yellow-text text-darken-2 icon-small">star</i>';

                        }

                        for (i = 0; i < 5 - entry.rate; i++) {

                            output += '<i class="material-icons grey-text text-darken-2 icon-small">star</i>';

                        }

                        output += '</td>';

                        output += '<td>';
                                output += '<a class="red-text underline-on-hover btn-delete" data-href="' + index + '">Xoá</a>';
                        output += '</td>';
                        
                        output += '</tr>';

                        $('#table-raiting > tbody:last').append(output);

                    });
                });

                //btn delete
                $('.btn-delete').on('click', function () {
                    var index = $(this).data("href");
                    var id = $('#id' + index).text();

                    //Alert Confirm
                    if (confirm('Bạn có chắc chắn muốn xóa cái này không?')) {
                        deleteRaiting(id);
                    } else {
                        //alert('cancel');
                    }
                });

            }
        });
    }
    
    function deleteRaiting(_id) {
        $.ajax({
            method: "DELETE",
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader("secret", "12345");
            },
            url: "api/deleteRaiting",
            data: {
                id: _id
            },
            success: function success(data) {
                var result = "";
                $.each(data, function (i, value) {
                    result = value.delete;
                });
                if (result == 1) {
                    window.location.reload();
                    alert('Đã xoá thành công.');
                } else {
                    alert('Không thể xoá được.');
                }
            }
        });
    }
</script>