<!-- Footer -->
<footer class="teal darken-3 white-text">
        <div class="row">

                <div class="col l6 s12">
                        <h5 class="white-text">Đồ Chơi Trẻ Em Kingpes</h5>
                        <p class="grey-text text-lighten-4">Đ/C: D9 - P.Tây Thạnh - Q.Tân Phú - HCM</p>
                        <p class="grey-text text-lighten-4">Hotline: 09037.590.127</p>
                        <p class="grey-text text-lighten-4">Email: kingpesvn@gmail.com</p>
                        <p class="grey-text text-lighten-4">Website: kingpes.info</p>
                </div>


                <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                                <li>
                                        <a class="grey-text text-lighten-3" href="#!">Google+</a>
                                </li>
                                <li>
                                        <a class="grey-text text-lighten-3" href="#!">Facebok</a>
                                </li>
                                <li>
                                        <a class="grey-text text-lighten-3" href="#!">Youtube</a>
                                </li>
                                <li>
                                        <a class="grey-text text-lighten-3" href="#!">Zalo</a>
                                </li>
                        </ul>
                </div>
        </div>
        </div>

        <div class="footer-copyright teal darken-2 white-text center">
                <br>
                <div>
                        © 2018 Copyright Kingpes
                </div>
                <br>
        </div>
</footer>