<% var lstCate = cate%>
<% var lstSn = sn%>
<% var lstProduct = product%>
<!DOCTYPE html>
<html lang="en">

<head>
    <%include ../base/meta.ejs%>

    <%include ../base/css.ejs%>

    <title>Đồ chơi trẻ em Kingpes</title>

</head>

<body style="background-color: seashell">

    <header>
        <%include ../base/header.ejs%>
    </header>

    <main>
        <%include layout.ejs%>
    </main>

    <footer>
        <%include ../base/footer.ejs%>
    </footer>

    <%include ../base/js.ejs%>

    <%include script.ejs%>

    <%include ../base/tracking.ejs%>

    <style>
        .container {
            margin: 0 auto;
            max-width: 1280px;
            width: 98%;
        }

        @media only screen and (min-width: 601px) {
            .container {
                width: 98%;
            }

        }

        @media only screen and (min-width: 993px) {
            .container {
                width: 98%;
            }

            .col {
                margin-top: -8px;
            }
        }

        .margin-top {
            padding-top: 15px;
            font-family: Lato;
        }

        .card-content {
            padding: 0px !important;
            cursor: pointer;
        }

        .col {
            padding: 0.6rem !important;
        }

        .row {
            margin-bottom: 0px !important;
        }

        .card-title {
            display: initial !important;
        }

        .ellipsis {
            
        }

        .containers {
            position: relative;
            width: 100%;
            max-width: 400px;
        }

        .image {
            display: block;
            width: 100%;
            height: auto;
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .3s ease;
            background-color: #babdbdbd;
            cursor: pointer;
        }

        .containers:hover .overlay {
            opacity: 1;
        }

        .icon {
            color: white;
            font-size: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }
    </style>

</body>

</html>