<!-- Section: Profile -->
<section id="list-product.html" class="section">
    <div class="row">

        <table class="highlight centered flow-text" id="table-all-product">
            <thead>
                <tr>
                    <th style="font-size: 1.1rem">Active</th>
                    <th style="font-size: 1.1rem">Tên sp</th>
                    <th style="font-size: 1.1rem">SL</th>
                    <th style="font-size: 1.1rem">Mua</th>
                    <th style="font-size: 1.1rem">Bán</th>
                    <th style="font-size: 1.1rem">KM</th>
                    <th style="font-size: 1.1rem">FS</th>
                    <th style="font-size: 1.1rem">GG</th>
                    <th style="font-size: 1.1rem">Điểm</th>
                    <th style="font-size: 1.1rem">VC</th>
                    <th style="font-size: 1.1rem">TT</th>
                </tr>
            </thead>

            <tbody></tbody>

        </table>

    </div>
</section>