<footer class="page-footer teal darken-3 white-text">
        <div class="container">
                <div class="row">
                        <div class="col l6 s12">
                                <p class="white-text" style="font-size: 1.15rem;">Đồ Chơi Trẻ Em Kingpes</p>
                                <p class="grey-text text-lighten-4">Đ/C: D9 - P.Tây Thạnh - Q.Tân Phú - HCM</p>
                                <p class="grey-text text-lighten-4">Hotline: 0937.590.127</p>
                                <p class="grey-text text-lighten-4">Website: kingpes.info</p>
                        </div>
                        <div class="col l4 offset-l2 s12">
                                <h5 class="white-text"></h5>
                                <ul>
                                        <div class="fb-page" data-href="https://www.facebook.com/kingpesvn/"
                                                data-width="380" data-hide-cover="false" data-show-facepile="false">
                                        </div>
                                </ul>
                        </div>
                </div>
        </div>
        <div class="footer-copyright center">
                <div class="container">
                        © 2018 Copyright Kingpes
                </div>
        </div>
</footer>