<!-- Footer -->
<footer>
        <div class="footer-copyright pink darken-3 white-text center">
                <br>
                <div>
                        © 2019 Copyright
                </div>
                <br>
        </div>
</footer>