<!-- Footer -->
<footer class="teal darken-3 white-text">
        <div class="footer-copyright teal darken-2 white-text center">
                <br>
                <div>
                        © 2019 Copyright
                </div>
                <br>
        </div>
</footer>